@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    height: 100%;

    .left-column {
      order: 2;
      width: 100%;
      padding-top: 2em;
      padding-bottom: 2em;
    }

    .center-column {
      order: 1;

      .links {
        width: 140%;
      }
    }

    .right-column {
      order: 3;
      width: 40%;
    }
  }
}

@media (max-width: 375px) {
  html {

    .navbar-container {
      flex-direction: column;
      height: 100%;
      padding: 0px;
      padding-top: 2rem;
      padding-bottom: 4rem;
  
      .left-column {
        width: 100%;
      }
  
      .center-column {
        .links {
          flex-direction: column;
  
          .link {
            padding: 1rem;
          }
        }
      }
  
      .right-column {
        width: 60%;
      }
    }
  }
}