@media (max-width: 1024px) {
  .list-dashboard-container {
    .list-container {
      .dashboard-link {
        width: 100%;
      }
    }
  }
}

@media (max-width: 414px) {
  .list-dashboard-container {

    .list-container {

      .dashboard-link {
        height: 28rem;

        .summary-div {
          flex-direction: column;

          .img {
            padding-top: 10px;
          }
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .list-dashboard-container {

    .list-container {

      .dashboard-link {
        height: 28rem;

        .summary-div {
          flex-direction: column;

          .img {
            padding-top: 10px;
          }
        }
      }
    }
  }
}